html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   background: 
   	url(https://images.pexels.com/photos/4630838/pexels-photo-4630838.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
   	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Navbar {
	background: #A5EE30;
}



.Row {
	background-color: white;
	opacity: 0.2;
}

